*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.top {
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.enlace{
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    text-decoration: none;
}

.body {
    height: 740px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-evenly;
}

.text{
    height: 200px;
    width: 700px;  
    margin-bottom: 150px; 
}

.foto {
    height: 500px;
    width: 500px;
    height: auto;
}

.titulo{
    font-size: 30px;
}